*.class
# Cache Files #
.temp/
.libs/
.mtj.tmp/
.idea/libraries/

# Package Files #
*.jar
*.war
*.ear
*.dat
.classpath
.project


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


